#gameboard {
	height: 500px;
	width: 500px;
	z-index: -20;
	background-color: #999999;
}

.inline {
	display:inline;
}

.entry {
	background-color: #4ddbff;
	display: block;
	border-radius: 5px;
}

#color1 {
	background-color: rgb(220, 70, 70);
	color: rgb(130, 20, 20);
}
#color2 {
	background-color: rgb(70, 220, 70);
	color: rgb(0, 130, 0);
}
#color3 {
	background-color: rgb(70, 70, 220);
	color: rgb(150, 180, 255);
}
#color4 {
	background-color: rgb(70, 70, 70);
	color: #DDDDDD;
}
#color5 {
	background-color: rgb(220, 220, 220);
}

.color-button {
	border: none;
	margin: 5px;
	font-weight: 900;

}